body{
   background-color: #008b8b;
    
}

.intro{
    border: 1px solid ;
    background-color: aliceblue;
   
}

.intro h1{
    display: inline;
    padding-left:15rem;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color:#6495ed;
    
}

.intro img{
    padding:20px;
    border:1px solid;

}

td{
    color:brown;
    padding:50rem;
}

a.visited{
    color:brown;
}

.heading{
    padding-left:25rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #008b8b;
    justify-content: center;
}

.form_modify{
    padding:2rem;
}

.red-text{
    color:red;
}

/*  card section */




.card{
    display:block;
}

.card-img-top{
    height:200px;
    width:200px;
}